.card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 52rem;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 52rem;
        width: 100%;
        backface-visibility: hidden;
        transition: all .8s ease;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        border-radius: .4rem;
        overflow: hidden;

        &--front {
            position: relative;
            background-color: $color-white;

            .card__img {
                background-blend-mode: screen;
            }

            .card__heading {
                position: absolute;
                top: 12rem;
                right: 2rem;
                text-align: right;
                font-size: 2.8rem;
                font-weight: 300;
                text-transform: uppercase;
                color: $color-white;
                width: 75%;

                &--span {
                    padding: 1rem 1.5rem;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;
                }
            }

            .card__details {
                padding: 3rem;

                ul {
                    list-style-type: none;
                    width: 80%;
                    margin: 0 auto;

                    li {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 1rem;
                        
                        &:not(:last-child) {
                            border-bottom: 1px solid $color-grey-light-2;
                        }
                    }
                }
            }
        }

        &--back {
            transform: rotateY(180deg);
        }
    }

    &__img {
        height: 23rem;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &--1 {
        .card__side--front {
            .card__img {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
                url("../img/nat-5.jpg");
            }

            .card__heading--span {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }

        .card__side--back {
            background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
    }

    &--2 {
        .card__side--front {
            .card_img {
                background-image: url("../img/nat-6.jpg");
            }
        }

        .card__side--back {
            background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
    }

    &--3 {
        .card__side--front {
            .card_img {
                background-image: url("../img/nat-7.jpg");
            }
        }

        .card__side--back {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}