.feature-box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all .2s;

    &__icon {
        display: inline-block;
        background: linear-gradient(to right top, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 6rem;
        margin-bottom: .5rem;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 3rem 8rem rgba($color-black, 0.3);
    }

    &__title {
        text-transform: uppercase;
    }
}